{
  "plugins": [
    "flowtype",
    "jest",
    "flowtype"
  ],
  "extends": [
    "standard",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "eol-last": 0,
    "no-unused-vars": 0
  }
}
